<link rel="stylesheet" type="text/css" href="style.css"/>

<h1>Edit Your Tea</h1>
<form class="form" action="/<%=id%>?_method=PUT" method="POST">

    <div class="inputParent">
        <label class='font' for='name'>Name:</label>
        <input class='input font' type='text' name='name' value="<%=company%>"/>
        <label class='font' for="img">Image:</label>
        <input class='input font' type='text' name='img' value="<%=img%>"/>
    </div>

    <input class='button font submit' type="submit" />
    <a  class='button font cancel' href="/">Cancel</a>
</form>