<link rel="stylesheet" type="text/css" href="/style.css"/>

<div class="photoOne">
    <img src="https://i.imgur.com/480CTSM.jpg" alt="Image of several people in celebration">
</div>

<hr>

    <h3 class="second-header">Spilling the Tea </h3>
    <h4 class="blurb">Click on a company's icon to learn about people's salaries.</h4>

    <div class="buttonContainer">
        <a class="button add font new-create" href="/home/new">create</a>
    </div>

<div class="container">
    <% stuff.forEach(v => { %> 
        <div class="cards">
            <a href="/home/<%=v.id%>"> <img src="<%=v.img %>" height ="150" width="200"/></a>

            
        </div>

    <% }) %>
</div>