<link rel="stylesheet" type="text/css" href="/style.css" />

<div class="new-container">
    <form class="new-form" action="/home/add" method="POST">
        <h2>Spill your Tea</h2>
        <h3></h3>

        <fieldset>
            <!-- <legend>Company</legend> -->
            <input class='new-field' type='text' name='company' placeholder="Company's name"/>
        </fieldset>

        <fieldset>
            <input class='new-field' type='text' name='img' placeholder="Copy/Paste the company's icon"/>
        </fieldset>

        <fieldset>
            <input class='new-field' type='text' name='city' placeholder="City"/>
        </fieldset>

        <fieldset>
            <input class='new-field' type='text' name='state' placeholder="State"/>
        </fieldset>

        <fieldset>
            <input class='new-field' type='text' name='title' placeholder="Title"/>
        </fieldset>
           
        <fieldset>
            <input class='new-field' type='text' name='compensation' placeholder="Compensation"/>
        </fieldset>
         
        <fieldset>
            <input class='new-field' type='text' name='years' placeholder="Years of Experience"/>
        </fieldset>

        <fieldset>
            <input class='new-field' type='text' name='gender' placeholder="Gender"/>
        </fieldset>

        <fieldset>
            <textarea class='new-field' type='text' name='review' placeholder="Type Your message"></textarea>
        </fieldset>
            <!-- <label class='font' for='review'>Tell us about your experience:</label>
            <input class='input font' type='text' name='review'/> -->
    
        </div>
    
        <input class='button font submit' type="submit" />
        <a  class='button font cancel' href="/home/">Cancel</a>
    </form>

</div>