<link rel="stylesheet" type="text/css" href="/style.css" />

<div class="new-container">
    <div class="new-form">
        <div class="form-image">
            <h2 class="new-title">Spill your Tea</h2>
        </div>
    
        <form class="new-data" action="/home/add" method="POST">

            <div class="input">
                <input class='new-field' type='text' autocomplete="off" name='company'/>
                <label class='field-label' for='company'>Company Name</label>
            </div>

            <div class="input">
                <input class='new-field' type='text' autocomplete="off" name='img'/>
                <label class='field-label' for='img'>Image</label>
            </div>

            <div class="input">
                <input class='new-field' type='text' autocomplete="off" name='city'/>
                <label class='field-label' for='city'>City</label>
            </div>

            <div class="input">
                <input class='new-field' type='text' autocomplete="off" name='state'/>
                <label class='field-label' for='state'>State</label>
            </div>

            <div class="input">
                <input class='new-field' type='text' autocomplete="off" name='title'/>
                <label class='field-label' for='title'>Title</label>
            </div>

            <div class="input">
                <input class='new-field' type='text' autocomplete="off" name='compensation'/>
                <label class='field-label' for='compensation'>Base Pay</label>
            </div>

            <div class="input">
                <input class='new-field' type='text' autocomplete="off" name='years'/>
                <label class='field-label' for='years'>Years at Company</label>
            </div>

            <div class="input">
                <input class='new-field' type='text' autocomplete="off" name='gender'/>
                <label class='field-label' for='gender'>Gender</label>
            </div>

            <div class="input">
                <textarea class='new-field' type='text' autocomplete="off" name='review'></textarea>
                <label class='field-label' for='review'>Tell us about your experience:</label>
            </div>


                <input class='new-submit-btn' type="submit" />

                <a  class='new-cancel-btn' href="/home/">Cancel</a>
        </form>
    </div>

</div>
