<link rel="stylesheet" type="text/css" href="/style.css" />



<form class="form" action="/home/add" method="POST">

    <div class="inputParent">
        <label class='font' for='company'>Company Name:</label>
        <input class='input font' type='text' name='company'/>

        <label class='font' for='img'>Image:</label>
        <input class='input font' type='text' name='img'/>
        <label class='font' for='city'>City:</label>
        <input class='input font' type='text' name='city'/>
        <label class='font' for='state'>State:</label>
        <input class='input font' type='text' name='state'/>
        <label class='font' for='title'>Title:</label>
        <input class='input font' type='text' name='title'/>
        <label class='font' for='compensation'>Base Pay:</label>
        <input class='input font' type='text' name='compensation'/>
        <label class='font' for='years'>Years at Company:</label>
        <input class='input font' type='text' name='years'/>
        <label class='font' for='gender'>Gender:</label>
        <input class='input font' type='text' name='gender'/>
        <label class='font' for='review'>Tell us about your experience:</label>
        <input class='input font' type='text' name='review'/>

    </div>

    <input class='button font submit' type="submit" />
    <a  class='button font cancel' href="/home/">Cancel</a>
</form>